
body {
    background-color: #494850;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

.contenedor {
    background-color: #D8D8F6;
    padding: 20px 0;
    max-width: 500px;
    margin: 40px auto auto;
    box-shadow: 0 0 45px #D8D8F6;
    border-radius: 8px;
}

ul {
    background: #978897;
    padding: 20px;
    border-radius: 10px;
    margin: 40px;
}

li {
    background: #D8D8F6;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
    border-radius: 3px;
}

ul li {
    background: #D8D8F6;
    color: darkblue;
    margin: 5px;
}

