<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div>
    <form th:action="@{/form}" th:object="${customer}" method="post">
        <h2 th:text="${tittle}"></h2>

        <label for="firstName">Nombres:</label>
        <input type="text" id="firstName" name="firstName" placeholder="David Jhoe">

        <label for="lastName">Apellidos:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Florez Perez">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="example@gmail.com">

        <label for="city">Ciudad:</label>
        <input type="text" id="city" name="city" placeholder="City">

        <label for="mainStreet">Calle Principal:</label>
        <input type="text" id="mainStreet" name="mainStreet" placeholder="Main Street">

        <label for="secondaryStreet">Calle Secundaria:</label>
        <input type="text" id="secondaryStreet" name="secondaryStreet" placeholder="Secondary Street">

        <input class="button_send" type="submit" value="Enviar">
    </form>
</div>
</body>
</html>