<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>
<div class="formContainer">
    <form th:action="@{/form}" th:object="${customer}" method="post">
        <h2 th:text="${tittle}"></h2>

        <fieldset>
            <legend th:text="${tittleField}"></legend>
            <div class="fieldContainer">
                <label for="firstName">Nombres:</label>
                <input type="text" id="firstName" name="firstName" placeholder="David Jhoe" th:field="*{firstName}">
                <div th:text="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>

            <div class="fieldContainer">
                <label for="lastName">Apellidos:</label>
                <input type="text" id="lastName" name="lastName" placeholder="Florez Perez" th:field="*{lastName}">
                <div th:text="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>

            <div class="fieldContainer">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="example@gmail.com" th:field="*{email}">
                <div th:text="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>

            <div class="fieldContainer">
                <label for="city">Ciudad:</label>
                <input type="text" id="city" name="city" placeholder="City" th:field="*{address.city}">
                <div th:text="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></div>
            </div>

            <div class="fieldContainer">
                <label for="mainStreet">Calle Principal:</label>
                <input type="text" id="mainStreet" name="mainStreet" placeholder="Main Street"
                       th:field="*{address.mainStreet}">
                <div th:text="${#fields.hasErrors('address.mainStreet')}" th:errors="*{address.mainStreet}"></div>
            </div>

            <div class="fieldContainer">
                <label for="secondaryStreet">Calle Secundaria:</label>
                <input type="text" id="secondaryStreet" name="secondaryStreet" placeholder="Secondary Street"
                       th:field="*{address.secondaryStreet}">
                <div th:text="${#fields.hasErrors('address.secondaryStreet')}"
                     th:errors="*{address.secondaryStreet}"></div>
            </div>

            <div class="fieldContainer">
                <label for="phone">Teléfono: </label>
                <input type="text" id="phone" name="phone" placeholder="+51 999666555"
                       th:field="*{phone}">
                <div th:text="${#fields.hasErrors('phone')}"
                     th:errors="*{phone}"></div>
            </div>

            <div class="fieldContainer">
                <label for="birthDate">Fecha de Nacimiento: </label>
                <input type="date" id="birthDate" name="birthDate" placeholder="yyyy-MM-dd"
                       th:field="*{birthDate}">
                <div th:text="${#fields.hasErrors('birthDate')}"
                     th:errors="*{birthDate}"></div>
            </div>

            <div class="fieldSendContainer">
                <input class="button_send" type="submit" value="Enviar">
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>