<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/styleResult.css}">
</head>
<body>
<div class="contenedor">
    <h1 th:text="${tittle}"></h1>
    <ul>
        <li th:text="${customer.country}"></li>
        <li th:text="${customer.firstName}"></li>
        <li th:text="${customer.lastName}"></li>
        <li th:text="${customer.email}"></li>
        <li th:text="${customer.address.city}"></li>
        <li th:text="${customer.address.mainStreet}"></li>
        <li th:text="${customer.address.secondaryStreet}"></li>
        <li th:text="${customer.phone}"></li>
        <li th:text="${#calendars.format(customer.birthDate,'yyyy/MM/dd')}"></li>
    </ul>

    <div class="button_regresar">
        <a href="http://localhost:8080/form">Regresar a Formulario de Registro</a>
    </div>
</div>

</body>
</html>