<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
    <link rel="stylesheet" th:href="@{/css/styleResult.css}">
</head>
<body>
<div class="contenedor">
    <h1 th:text="${tittle}"></h1>
    <ul>
        <li th:text="${customer.firstName}"></li>
        <li th:text="${customer.lastName}"></li>
        <li th:text="${customer.email}"></li>
        <li th:text="${customer.address.city}"></li>
        <li th:text="${customer.address.mainStreet}"></li>
        <li th:text="${customer.address.secondaryStreet}"></li>
    </ul>
</div>

</body>
</html>